<h1>Upload CSV</h1>
<div class="csv-file-chooser-section">
  <input
    type="file"
    #fileImportInput
    name="File Upload"
    id="csvFileUpload"
    (change)="fileChangeListener($event)"
    accept=".csv"
  />
</div>

<button class="btn btn-success">Add To Database</button>

<div class="csv-result-table">
  <div class="submit-form titles">
    <label>#</label>
    <label>Date</label>
    <label>txVolume</label>
    <label>Adjusted txVolume</label>
    <label>txCount</label>
    <label>MarketCap</label>
    <label>Price</label>
    <label>Exchange Volume</label>
    <label>Generated Coins</label>
    <label>Fees</label>
    <label>Active Addresses</label>
    <label>Average Difficulty</label>
    <label>Payment Count</label>
    <label>Median txValue</label>
    <label>Median Fee</label>
    <label>Block Size</label>
    <label>Block Count</label>

    <tbody class="scroll">
      <tr *ngFor="let csvData of csvRecords; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <span>{{ csvData.date }}</span>
        </td>
        <td>
          <span>{{ csvData.txVolume }}</span>
        </td>
        <td>
          <span>{{ csvData.adjustedTxVolume }}</span>
        </td>
        <td>
          <span>{{ csvData.txCount }}</span>
        </td>
        <td>
          <span>{{ csvData.marketcap }}</span>
        </td>
        <td>
          <span>{{ csvData.price }}</span>
        </td>
        <td>
          <span>{{ csvData.exchangeVolume }}</span>
        </td>
        <td>
          <span>{{ csvData.generatedCoins }}</span>
        </td>
        <td>
          <span>{{ csvData.fees }}</span>
        </td>
        <td>
          <span>{{ csvData.activeAddresses }}</span>
        </td>
        <td>
          <span>{{ csvData.averageDifficulty }}</span>
        </td>
        <td>
          <span>{{ csvData.paymentCount }}</span>
        </td>
        <td>
          <span>{{ csvData.medianTxValue }}</span>
        </td>
        <td>
          <span>{{ csvData.medianFee }}</span>
        </td>
        <td>
          <span>{{ csvData.blockSize }}</span>
        </td>
        <td>
          <span>{{ csvData.blockCount }}</span>
        </td>
      </tr>
    </tbody>
  </div>
</div>
