<h1>CSV Quick View</h1>
<div class="csv-file-chooser-section">
  <input
    type="file"
    #fileImportInput
    name="File Upload"
    id="csvFileUpload"
    (change)="fileChangeListener($event)"
    accept=".csv"
  />
</div>

<!-- <button class="btn btn-success">Add To Database</button> -->

<div class="csv-result-table">
  <div class="submit-form titles">
    <label>#</label>
    <label>Date</label>
    <label>txVolume</label>
    <label>Adjusted txVolume</label>
    <label>txCount</label>
    <label>MarketCap</label>
    <label>Price</label>
    <label>Exchange Volume</label>
    <label>Generated Coins</label>
    <label>Fees</label>
    <label>Active Addresses</label>
    <label>Average Difficulty</label>
    <label>Payment Count</label>
    <label>Median txValue</label>
    <label>Median Fee</label>
    <label>Block Size</label>
    <label>Block Count</label>

    <tbody class="scroll">
      <tr *ngFor="let csvData of csvRecords; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <span>{{ csvData.date }}</span>
        </td>
        <td>
          <span>{{ csvData.txvolume_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.adjustedtxvolume_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.txcount }}</span>
        </td>
        <td>
          <span>{{ csvData.marketcap_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.price_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.exchangevolume_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.generatedcoins }}</span>
        </td>
        <td>
          <span>{{ csvData.fees }}</span>
        </td>
        <td>
          <span>{{ csvData.activeaddresses }}</span>
        </td>
        <td>
          <span>{{ csvData.averagedifficulty }}</span>
        </td>
        <td>
          <span>{{ csvData.paymentcount }}</span>
        </td>
        <td>
          <span>{{ csvData.mediantxvalue_usd }}</span>
        </td>
        <td>
          <span>{{ csvData.medianfee }}</span>
        </td>
        <td>
          <span>{{ csvData.blocksize }}</span>
        </td>
        <td>
          <span>{{ csvData.blockcount }}</span>
        </td>
      </tr>
    </tbody>
  </div>
</div>
