<div class="list row">
  <div *ngIf="line">
    <canvas id="line" height="500" width="900">{{ line }}</canvas>
  </div>
  <button
    onClick="setInterval(function(){
   window.location.reload(1);
}, 1);"
  >
    Refresh Page
  </button>

  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by date"
        [(ngModel)]="date"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchDate()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Bitcoin Entry List</h4>

    <ul id="inboxContainer" class="list-group">
      <li
        class="list-group-item"
        *ngFor="let bitcoin of bitcoins; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBitcoin(bitcoin, i)"
      >
        {{ bitcoin.date }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBitcoins()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentBitcoin">
      <h4>Bitcoin</h4>
      <div>
        <label><strong>Date:</strong></label> {{ currentBitcoin.date }}
      </div>
      <div>
        <label><strong>TX Volume:</strong></label>
        {{ currentBitcoin.txvolume_usd }}
      </div>
      <div>
        <label><strong>Adjusted TX Volume:</strong></label>
        {{ currentBitcoin.adjustedtxvolume_usd }}
      </div>
      <div>
        <label><strong>TX Count:</strong></label> {{ currentBitcoin.txcount }}
      </div>
      <div>
        <label><strong>Market Cap:</strong></label>
        {{ currentBitcoin.marketcap_usd }}
      </div>
      <div>
        <label><strong>Price:</strong></label> {{ currentBitcoin.price_usd }}
      </div>
      <div>
        <label><strong>Exchange Volume:</strong></label>
        {{ currentBitcoin.exchangevolume_usd }}
      </div>
      <div>
        <label><strong>Generated Coins:</strong></label>
        {{ currentBitcoin.generatedcoins }}
      </div>
      <div>
        <label><strong>Fees:</strong></label> {{ currentBitcoin.fees }}
      </div>
      <div>
        <label><strong>Active Addresses:</strong></label>
        {{ currentBitcoin.activeaddresses }}
      </div>
      <div>
        <label><strong>Average Difficulty:</strong></label>
        {{ currentBitcoin.averagedifficulty }}
      </div>
      <div>
        <label><strong>Payment Count:</strong></label>
        {{ currentBitcoin.paymentcount }}
      </div>
      <div>
        <label><strong>Median TX Value:</strong></label>
        {{ currentBitcoin.mediantxvalue_usd }}
      </div>
      <div>
        <label><strong>Median Fee:</strong></label>
        {{ currentBitcoin.medianfee }}
      </div>
      <div>
        <label><strong>Block Size:</strong></label>
        {{ currentBitcoin.blocksize }}
      </div>
      <div>
        <label><strong>Block Count:</strong></label>
        {{ currentBitcoin.blockcount }}
      </div>

      <!-- <a
        class="badge badge-warning"
        routerLink="/bitcoins/{{ currentBitcoin.id }}"
      >
        Edit
      </a> -->
    </div>

    <div *ngIf="!currentBitcoin">
      <br />
      <p>Please click on a Bitcoin Entry...</p>
    </div>
  </div>
</div>
