<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="text"
          class="form-control"
          id="date"
          [(ngModel)]="bitcoin.date"
          name="date"
        />
      </div>

      <div class="form-group">
        <label for="txvolume_usd">TX Volume (USD)</label>
        <input
          type="text"
          class="form-control"
          id="txvolume_usd"
          [(ngModel)]="bitcoin.txvolume_usd"
          name="txvolume_usd"
        />
      </div>

      <div class="form-group">
        <label for="adjustedtxvolume_usd">Adjusted TX Volume (USD)</label>
        <input
          type="text"
          class="form-control"
          id="adjustedtxvolume_usd"
          [(ngModel)]="bitcoin.adjustedtxvolume_usd"
          name="adjustedtxvolume_usd"
        />
      </div>

      <div class="form-group">
        <label for="txcount">TX Count</label>
        <input
          type="text"
          class="form-control"
          id="txcount"
          [(ngModel)]="bitcoin.txcount"
          name="txcount"
        />
      </div>

      <div class="form-group">
        <label for="marketcap_usd">Market Cap(USD)</label>
        <input
          type="text"
          class="form-control"
          id="marketcap_usd"
          [(ngModel)]="bitcoin.marketcap_usd"
          name="marketcap_usd"
        />
      </div>

      <div class="form-group">
        <label for="price_usd">Price (USD)</label>
        <input
          type="text"
          class="form-control"
          id="price_usd"
          [(ngModel)]="bitcoin.price_usd"
          name="price_usd"
        />
      </div>

      <div class="form-group">
        <label for="exchangevolume_usd">Exchange Volume (USD)</label>
        <input
          type="text"
          class="form-control"
          id="exchangevolume_usd"
          [(ngModel)]="bitcoin.exchangevolume_usd"
          name="exchangevolume_usd"
        />
      </div>

      <div class="form-group">
        <label for="generatedcoins">Generated Coins</label>
        <input
          type="text"
          class="form-control"
          id="generatedcoins"
          [(ngModel)]="bitcoin.generatedcoins"
          name="generatedcoins"
        />
      </div>

      <div class="form-group">
        <label for="fees">Fees</label>
        <input
          type="text"
          class="form-control"
          id="fees"
          [(ngModel)]="bitcoin.fees"
          name="fees"
        />
      </div>

      <div class="form-group">
        <label for="activeAddresses">Active Addresses</label>
        <input
          type="text"
          class="form-control"
          id="activeaddresses"
          [(ngModel)]="bitcoin.activeaddresses"
          name="activeaddresses"
        />
      </div>

      <div class="form-group">
        <label for="averagedifficulty">Average Difficulty</label>
        <input
          type="text"
          class="form-control"
          id="averagedifficulty"
          [(ngModel)]="bitcoin.averagedifficulty"
          name="averagedifficulty"
        />
      </div>

      <div class="form-group">
        <label for="paymentcount">Payment Count</label>
        <input
          type="text"
          class="form-control"
          id="paymentcount"
          [(ngModel)]="bitcoin.paymentcount"
          name="paymentcount"
        />
      </div>

      <div class="form-group">
        <label for="mediantxvalue_usd">Median TX Value (USD)</label>
        <input
          type="text"
          class="form-control"
          id="mediantxvalue_usd"
          [(ngModel)]="bitcoin.mediantxvalue_usd"
          name="mediantxvalue_usd"
        />
      </div>

      <div class="form-group">
        <label for="medianfee">Median Fee</label>
        <input
          type="text"
          class="form-control"
          id="medianfee"
          [(ngModel)]="bitcoin.medianfee"
          name="medianfee"
        />
      </div>

      <div class="form-group">
        <label for="blocksize">Block Size</label>
        <input
          type="text"
          class="form-control"
          id="blocksize"
          [(ngModel)]="bitcoin.blocksize"
          name="blocksize"
        />
      </div>

      <div class="form-group">
        <label for="blockcount">Block Count</label>
        <input
          class="form-control"
          id="blockcount"
          [(ngModel)]="bitcoin.blockcount"
          name="blockcount"
        />
      </div>

      <button (click)="saveBitcoin()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Bitcoin entry was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newBitcoin()">Add</button>
    </div>
  </div>
</div>
